@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-height: auto;
}
.upper-body, 
.footer {
    background-color: #1F2937;
}

/* header section */
a {
    color: #bfbfbf;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
}

/* Hero section */
.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.second-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border-style: none;
    padding: 5px 20px;
}

.hero {
    display: flex;
    align-items: center;
}

/* infromation section */
 
.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information {
    display: flex;
    justify-content: center;
    gap: 50px;
}

img {
    border-radius: 8px;
    height: 90px;
}
.info, text{
    padding: 0;
    width: 100px;
    margin: 10px;
    font-size: 11px;
}

/* Quote section */

.container-2 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 40px 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 200px;
    width: 600px;
    text-align: left;
}

.auther {
    margin-right: 24px;
    font-weight: 900;
}

.quote {
    font-size: 26px;
    color: #1f2937c2;
    font-weight: 300;
    font-style: italic;
}

/* call to action section */

.container-3 {
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 40px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 28px;
    border-radius: 7px;
    background-color: #3882F6;
    text-align: left;
    width: 800px;
    flex-shrink: 1;
}

.main-text1 {
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 700;
}

.second-text2 {
    color: #e5e7ebd3;
    font-size: 15px;
}

.button {
    color: #faf8f8;
    border: 2px solid white;
    padding: 5px 10px;
    width: 100px;
    margin-top: auto;
}

/* Footer section */

.footer {
    color: white;
    padding: 28px;
    margin-top: 24px;
}